# Operating System files
.DS_Store

# Environment files
.env
.env.*
!.env.example

# Dependencies
node_modules

# Build output
/bin
/frontend/build
/frontend/dist
/frontend/.svelte-kit
/frontend/package
/frontend/.output

# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Database files
badger.local.db*/
badger.local.db.*

# Other files
*.voucher.pem
*.dis.pem
._*
